{% extends "layout.html" %}

{% block title %}
    <title>Hakkımızda</title>
{% endblock %}

{% block body %}
    <body>
        {% include "navbar.html" %}

       
       <h3>Biz Kimiz?</h3>
 
       <p>Mobilhanem yazılım alanında kendinizi geliştirmeniz ve yeni beceriler edinmeniz için size yardımcı<br>
       olan bir platformdur. Gelenekselleşen eğitim anlayışından sıyrılıp lokasyon bağımsız eğitim<br>
       alma imkanı verir ve böylece insanlara eşit şartlarda, sınırlarını kendileri belirleyebildikleri<br>
       bir eğitim imkanı sunar. Mobilhanem dinamik bir yapıya sahiptir ve kendini sürekli geliştiren,
       büyüyen bir platformdur. Güncel bilgileri,<br>sorularınızın cevaplarını, işinize yarayacak ipucu ve çözümleri burada bulabilirsiniz.</p>
 
 
 
       </body>
{% endblock %}