{% extends "layout.html" %}

 {% block title %}
        <title>Register</title>
 {% endblock %}

 {% block body %}
        <body>
    {% include "navbar.html" %}
        <div class="jumbotron">
            <h3>Yeni Kullanıcı</h3>
             <form action="users" method="post">
                 {{ form.name.label() }} <br>
                 {{ form.name() }} <br>

                 {{ form.surname.label() }} <br>
                 {{ form.surname() }} <br>

                {{ form.email.label() }} <br>
                {{ form.email() }} <br>

                 {{ form.password.label() }} <br>
                {{ form.password() }} <br><br>
                 {{ form.submit() }}
               </form>

        </div>

        </body>
 {% endblock %}